<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" href="lib/icons/gamehubIcon2.png" type="image/x-icon">
    <title>Gamehub</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img id="mainLogo" src="/gamehubPNG.png" alt="" srcset=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/games">Games</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/suggestions">Suggestions</a>
              </li>
              {{#if user }}
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>

              </li>
               {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/register">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {{/if}}
            </ul>
          </div>
        </div>
    </nav>

    <h1 class="text-center my-5">Drop your suggestions here!</h1>

    <div class="container">
        <form action="/auth/suggestions" method="POST">
            
            <br>
            
            <br>
            <label class="" for="email">
                Email
            </label>
            <br>
            <input class="" type="email" name="email" id="email" required>
            <br>
            <label class="" for="suggestion">
                Suggestion
            </label>
            <br>
            <input class="" type="text" name="suggestion" id="suggestion" required>
            <br>
            <button type="submit" class="btn btn-primary">Send us your suggestions!</button>

        </form>
    </div>
    {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
    <script type="text/javascript" src="lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    


</body>
</html>